---
interface Props {
   title: string;
   url?: string;
   icon: string;
   name?: string;
}

const { title, url, icon, name } = Astro.props;
const controller = `${name}-dropdown`;
const hyperscript = `on click toggle .hidden on #${controller} then toggle .hidden on #angleDown-${name} then toggle .hidden on #angleUp-${name}`;
---

<li>
   <label
      for="sideNav"
      aria-label="close sidebar"
      class="btn ms-1 bg-transparent flex items-center w-full p-2 transition duration-75 rounded-lg group border-none"
      hx-get={`/content${url}`}
      hx-select="#content"
      hx-trigger="click"
      hx-target="main"
      hx-swap="innerHTML"
      hx-push-url={url}
      data-script={hyperscript}
      >{title}</label
   >
</li>
