---
interface Props {
  bg_color?: string;
  fb_color?: string;
  shadow_color?: string;
  shadowHov_color?: string;
  pft_color?: string;
  pftb_color?: string;
  pfta_color?: string;
  btn_label?: string;
  label?: string;
  color?: string;
}

const {
  label,
  btn_label,
  color,
  bg_color,
  fb_color,
  shadowHov_color,
  shadow_color,
  pft_color,
  pfta_color,
  pftb_color,
} = Astro.props;

/* USAGE:
   <Button_Input
      fb_color="focus:border-char-red-01"
      bg_color="bg-char-red-01"
      shadow_color="shadow-char-red-01/20"
      shadowHov_color="hover:shadow-char-red-01/40"
      pft_color="peer-focus:text-char-red-01"
      pftb_color="peer-focus:before:!border-char-red-01"
      pfta_color="peer-focus:after:!border-char-red-01"
      color="bg-[#fff432]"
      label="User Name"
      btn_label="SUBMIT"
    />
*/
---

<div class="relative flex h-10 w-full min-w-[200px] max-w-[24rem]">
  <input
    type="email"
    class:list={[
      'peer',
      'h-full',
      'w-full',
      'rounded-[7px]',
      'border',
      'border-blue-gray-200',
      'border-t-transparent',
      'bg-transparent',
      'px-3',
      'py-2.5',
      'pr-20',
      'font-sans',
      'text-sm',
      'font-normal',
      'text-blue-gray-700',
      'outline outline-0',
      'transition-all',
      'placeholder-shown:border',
      'placeholder-shown:border-blue-gray-200',
      'placeholder-shown:border-t-blue-gray-200',
      'focus:border-2',
      fb_color,
      'focus:border-t-transparent',
      'focus:outline-0',
      'disabled:border-0',
      'disabled:bg-blue-gray-50',
    ]}
    placeholder=" "
    required
  />
  <button
    class=`!absolute right-1 top-1 z-10 select-none rounded ${bg_color} py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md ${shadow_color} transition-all hover:shadow-lg ${shadowHov_color} focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none peer-placeholder-shown:pointer-events-none peer-placeholder-shown:bg-blue-gray-500 peer-placeholder-shown:opacity-50 peer-placeholder-shown:shadow-none`
    type="button"
    data-ripple-light="true"
  >
    {btn_label}
  </button>
  <label
    class=`before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight ${pft_color} peer-focus:before:border-t-2 peer-focus:before:border-l-2 ${pftb_color} peer-focus:after:border-t-2 peer-focus:after:border-r-2 ${pfta_color} peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500`
  >
    {label}
  </label>
</div>
